@model IEnumerable<SimpleBlog.WebApp.ViewModels.PostViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 32px">
    @{var last = Model.Last();}
    @foreach (var item in Model)
    {
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-9">
                    <h3 class="pull-left" style="margin-top: 0px;">
                        <a href="@Url.Action("Details", "Post", new {id = item .Id})">@item.Title</a>
                    </h3>
                </div>
                <div class="col-sm-3">
                    <h5 class="pull-right" style="margin-top: 0px;">
                        <i class="fa fa-calendar"></i> Posted on @item.Date
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <i class="fa fa-user" style="margin-bottom: 7px;"></i> <em>by @{ Html.RenderAction("GetUserNameById", "Account", new { appUserId = item.AuthorId });}</em>
                </div>
            </div>
            @Html.Raw(item.Text)
            <div class="row" style="margin-top: 16px">
                <div class="col-lg-12">
                    <span>
                        <i class="glyphicon glyphicon-comment"></i>
                        <a href="@Url.Action("Details", "Post", new {id = item .Id})#comments">
                            @if (item.Comments.Count > 0)
                            {
                                string c = item.Comments.Count > 1 ? "comments" : "comment";
                                @Html.Raw($"{item.Comments.Count} {c}")
                            }
                            else
                            {
                                @Html.Raw("comment on this")
                            }
                        </a>
                    </span>
                </div>
            </div>
            @if (!item.Equals(last))
            {
                <hr />
            }
        </div>
    }
</div>